h1, h2, h3, h4 {

    margin: 0;
    font-family: Germania One;

}
p, h5, h6, button, label, input, span{

    font-family: Playwrite DE Grund;

}
body{

    margin: 0;

}

body::-webkit-scrollbar{

    border-radius: 0 10px 10px 10px;

    background-color: var(--lightColor);

}

body::-webkit-scrollbar-thumb{

    background-color: var(--darkColor);

    border: 5px solid var(--lightColor);

    border-radius: 15px;
    
}
body::-webkit-scrollbar-thumb:hover{

    background-color: color-mix(in srgb, var(--darkColor) 65%, white);
    
} 

.schedule {

    padding: 0 7%;
    padding-bottom: 45px;

    h1{

        margin: 0;
        padding-top: 30px;
        padding-bottom: 10px;

    }

}
.table {

    font-size: clamp(10px, 1vw, 14px);

    display: grid;
    width: 100%;
    min-width: 0;

    user-select: none;

}




.dayHeader {

    container-type: inline-size;

}

.dayHeader h3{

    position: relative;
    top: 25%;

    font-size: 1.6em;

}
.timeHeader h4{

    position: relative;
    top: 25%;

    font-size: 1.2em;

}

.shortText {

  display: none;

}

@container (max-width: 100px) {

  .dayHeader .largeText {

    display: none;

  }

  .dayHeader .shortText {

    display: block;
    font-size: 2em;

  }

}


.wrapDivider {

    position: relative;

}

.wrapDivider::before {

    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    border-bottom: 5px dashed var(--darkColor);

}

input[type="radio"], input[type="checkbox"], input[type="reset"], button, label:not(.ATimeWrapper label, .BTimeWrapper label, .timeLapseLbl)
{

    cursor: pointer;

}

input[type="time"]{

    cursor: text;

}

.settings, .classSettings {

    position: fixed;

    transition: transform 0.35s cubic-bezier(0, 1.5, 1, 0.9);

    h1, h3 {

        color: var(--darkColor);
        margin: 5px 0;

    }

    h1 {

        text-align: center;

    }

    button, input[type="reset"] {

        border: none;
        border-radius: 5px;

        padding: 5px 7px;

    }
    button:not(:disabled), input[type="reset"] {

        background-color: var(--darkColor);
        color: white;

    }
    button:disabled {

        background-color: #9E9E9E;

    }

    input[type="text"], input[type="number"], input[type="time"]{

        border: none;
        border-radius: 10px;
        padding: 2px 5px;

        background-color: var(--baseColor);

    }

    input[type="radio"], input[type="checkbox"] {

        accent-color: var(--baseColor);
        color: white;

    }

    input::placeholder {

        color: var(--lightColor);

    }

}