.blocks {

    flex: 1;

    min-width: 840px;

    display: grid;
    padding: 5px;
    grid-template-columns: repeat(var(--xSize), 1fr);
    gap: 5px;

}

.voucherTop, .voucherBottom {

    cursor: grab;
    user-select: none;

}
.splitTag, .splitVoucher {

    user-select: none;

}

#deleteBin {

    min-height: 90px;

}
#deleteBin[selected]{

    background-color: #FC2003; 
    animation: colorShift 1200ms infinite alternate linear;
    
}

@keyframes colorShift {

    0% {
        background-color: #FC2003;
    }
    50% {
        background-color: #A21402;
    }
    100% {
        background-color: #740F01;
    }

}

.ghost {

    user-select: none;

    /*animation: march 0.5s linear infinite;*/

}