.table {

    width: 100%;

}
.schedule {

    padding: 0 7%;

}
.dayHeader{

    background-color: #8C8EFF;

}
.timeHeader{

    background-color: #A8C7FF;

}
.slot{

    background-color: #EBEEF2;

}