h3, h4 {

    margin: 0;

}

.schedule {

    padding: 0 7%;

}
.table {

    display: grid;
    width: 100%;

    min-width: 1075px;

}

.dayHeader h3{

    position: relative;
    top: 25%;

    font-size: 1.5em;

}
.timeHeader h4{

    position: relative;
    top: 25%

}

.wrapDivider {

    position: relative;

}

.wrapDivider::before {

    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    border-bottom: 5px dashed #8C8EFF;

}

input[type="radio"],
input[type="checkbox"],
input[type="reset"],
button, 
#initDay label,
#endDay label,
.ADays label,
.BDays label
{

    cursor: pointer;

}

input[type="time"]{

    cursor: text;

}