.schedule {

    padding: 0 7%;

}
.table {

    display: grid;
    width: 100%;

}

.dayHeader{

    background-color: #8C8EFF;

}
.timeHeader{

    background-color: #A8C7FF;

}
.slot{

    background-color: #EBEEF2;

}

.wrapDivider {

    position: relative;

}

.wrapDivider::before {

    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    border-bottom: 5px dashed #8C8EFF;

}


.blocks {

    display: grid;
    padding: 5px;
    grid-template-columns: repeat(var(--xSize), 1fr);
    gap: 5px;

}